<div id="top_10_col">
  <img src="../../assets/Top 10 Scorers.png" alt="Top 10 Scorers" width="80%" height="80%"/>
  <table border="1" class="table table-striped table-bordered table-sm" style="width: 100%; text-align: left">
    <thead>
      <tr>
        <th>Scorers Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let s of sco?.scorers">
      <td>{{s.player.name}}</td>
      <td class="score"> {{s.numberOfGoals}}</td>
    </tr>
  </tbody>
  </table>
  <br>
</div>